aiocsv==1.2.3
aiofiles==24.1.0
aiogram==3.20.0.post0
aiohttp==3.10.11
aiosignal==1.3.1
altgraph==0.17.3
annotated-types==0.7.0
anyio==4.8.0
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.2.0
auto-py-to-exe==2.33.0
Babel==2.9.1
beautifulsoup4==4.12.0
behave==1.2.6
bottle==0.12.25
bottle-websocket==0.2.9
branca==0.7.0
cachetools==5.3.2
certifi==2024.7.4
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==44.0.1
cssselect==1.2.0
Eel==0.16.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
execnet==2.0.2
fake-useragent==1.1.3
fasteners==0.19
filelock==3.13.1
folium==0.15.0
frozenlist==1.3.3
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
google-api-core==2.17.1
google-api-python-client==2.118.0
google-auth==2.28.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
googletrans==3.1.0a0
greenlet==2.0.2
gspread==6.0.2
gspread-formatting==1.1.2
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.3.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.23.0
hyperframe==5.2.0
idna==3.7
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.3.2
libretranslatepy==2.1.1
lxml==4.9.2
magic-filter==1.0.12
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
multidict==6.0.4
new-undetected-chromedriver==3.5.5
nltk==3.9
numpy==2.0.0
oauth2client==4.1.3
oauthlib==3.2.2
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.2
parameterized==0.9.0
parse==1.20.0
parse-type==0.6.2
pdbp==1.5.0
pdfminer.six==20231228
pdfplumber==0.11.0
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.1.0
pluggy==1.3.0
protobuf==4.25.3
py==1.11.0
pyaes==1.6.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.11.3
pydantic_core==2.33.1
Pygments==2.17.2
pygsheets==2.0.6
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.1
pynose==1.4.8
pyotp==2.9.0
pyparsing==3.0.9
pypdfium2==4.29.0
pyreadline3==3.4.1
PySocks==1.7.1
pytest==7.4.4
pytest-html==2.0.1
pytest-metadata==3.0.0
pytest-ordering==0.6
pytest-rerunfailures==13.0
pytest-xdist==3.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.2
pywin32-ctypes==0.2.3
PyYAML==6.0.1
regex==2023.12.25
requests==2.32.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.7.0
rsa==4.9
sbvirtualdisplay==1.3.0
selenium==4.25.0
selenium-stealth==1.0.6
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
StrEnum==0.4.15
tabcompleter==1.3.0
Telethon==1.39.0
tomli==2.0.1
tqdm==4.66.3
transliterate==1.10.2
trio==0.24.0
trio-websocket==0.11.1
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.1
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.2.2
webdriver-manager==4.0.1
websocket-client==1.8.0
websockets==12.0
whichcraft==0.6.1
wsproto==1.2.0
xlrd==2.0.1
yarl==1.8.2
zope.event==4.6
zope.interface==6.0
